.main{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.logo{
    max-width: 100%;
    height: auto;
    margin-bottom: "-70px";
}

p{
    margin: "0 auto" !important;
    text-align: "left" !important;
    width: "70%" !important;
}