*{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1{
  font-size: 70px;
  font-weight: 200;
}
.input-wrapper {
  position: relative;
  color:black;
    width: 100%;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    background-color: white;
    display: flex;
    margin-bottom: 20px;
  }
  .search-bar-container {
    width: 45%;
    margin-top: 20px;
    margin-left: 400px;
    justify-content: center;
    align-items: center;
  }

  @media(max-width:1280px){
    .search-bar-container {
      width: 45%;
      margin-top: 20px;
      margin-left: 220px;
      justify-content: center;
      align-items: center;
    }
  }

  @media(max-width:650px){
    .search-bar-container {
      width: 45%;
      margin-top: 20px;
      margin-left: 80px;
      justify-content: center;
      align-items: center;
    }
  }
  
  
  .input-wrapper input {
    color: black;
    background-color: transparent;
    height: 100%;
    font-size: 1.25rem;
    width: 500px;
    border: none; 
    margin-left: 10px;
    padding-left: 10px;
  }
  
  input:focus {
    outline: none;
  }
  
  #search-icon{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: royalblue;
  margin-right: 10px; 
  }

  .dropdown {
    position: absolute;
    width: 45%;
    background-color:white;
    max-height: 250px;  
  }
  
  .dropdown-row {
    padding: 10px;
    cursor: pointer;
    color: black;
    outline: none;
  }
  
  .dropdown-row:hover {
    background-color: whitesmoke;
  }

