*{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


a{
  color:#007BFF;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.search-results{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%
}
.table-container{
  display: flex;
  flex-direction: column;
}

.table-caption{
  display: flex;
  position: relative;
  left: 19%;
  font-weight: "lighter";
}

.table{
   height: 100%;
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 20px;
    overflow-x: scroll;
}

.table th{
  padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    background-color:#E0E5DA;
}


.table td {
  padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.table tbody tr:nth-child(odd) {
  background-color: #F1F5ED; 
}

.table tbody tr:nth-child(even) {
  background-color:#FFFFFF; 
}