/* style.css */

* {
  margin: 0;
}

body {
  text-align: center;
  padding: 20px;
}

input[list] {
  background: #eee;
  padding:10px;
  border-radius:5px 0 0 5px;
  -moz-border-radius:5px 0 0 5px;
  -webkit-border-radius:5px 0 0 5px;
  -o-border-radius:5px 0 0 5px;
  border:0 none;
  width:50%;
  color:#000;
  font-size: 20pt;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: center;
  padding: 8px;
  border: 1px solid #ebebeb;
}

tr:nth-child(1), td:nth-child(1) {
  background: #ccc;
}

td:nth-child(1) {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

p {
  text-align: left;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;color: #444;
}

h1 {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 48px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #444;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-weight: 100;
}
