.App {
  background-color: white;
  overflow: hidden;
}

.footer-text{
bottom: 0px; 
margin: 0 auto;
left: 0; 
padding-top: 1rem;
padding-bottom: 2px; 
width: 100%; 
text-align: center; 
color: black;  
}

